<%= render 'posts/modal' %>
<div class="container">
  <div class="row">
    <div id="side-menu"  class="col-sm-3">
      <h1>adeola</h1>
    </div><!-- side-menu -->

    <div id="main-content" class="col-sm-9">
      <h2>afolabi</h2>
      <%= render @posts %>
    </div><!-- main-content -->

  </div><!-- row -->
</div><!-- container -->
